* {
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
.brand-logo {
  margin-left: 30px;
}
/* NAVBAR */
.signedin {
  margin-right: 20px;
}
/* SIGN-IN */
.our-logo {
  text-align: center;
  margin: 50px;
}
.logo-img {
  height: 150px;
  width: 150px;
}
.writing{
  text-align: center;
  margin: 10px;
}
/* CONTACTS */
.contact-video {
  display: flex;
}
img {
  height: 100px;
  width: 100px;
}
i {
  cursor: pointer;
}
.user-header {
  margin-top: -20px;
  margin-bottom: 20px;
}
.contact-list {
  margin-top: 50px;
  width: 50%;
}
.secondary-content {
  padding-left: 20px;
}
.button-call-wrapper {
  text-align: center;
  width: 50%;
  /* margin-top: 500px; */
  /* display: flex; */
  /* align-items: center;
  justify-content: space-around;
  flex-direction: column; */
}
.button-video-items {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 250px;
}

.writing {
  margin-top: -30px;
  padding: 0 50px;
}
.hangup {
  width: 125px;
  height: 50px;
}
.camera-box {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}
.image-wrapper {
  text-align: center;
}
#hangup-button {
  display: inline-block;
}
button {
  cursor: pointer;
  margin: 10px;
}
.button {
  cursor: pointer;
}
video {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .brand-logo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1228px) {
  .brand-logo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 826px) {
  .contact-video {
    display: flex;
    flex-direction: column;
  }
  .brand-logo {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .signWrapper {
    overflow-y: auto;
  }

  .contact-video {
    overflow-y: auto;
    height: calc(100% - 56px) !important;
    padding-bottom: 50px;
  }
  .contact-list {
    order: 2;
  }
  .button-call-wrapper{
    width: 100%;
    margin-top: 30px;
    order: 1;
  }
  .button-video-items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 20px;
  }
  .brand-logo {
    margin-left: 10px;
  }
  .video-wrapper {
    margin: 0 20px;
  }
  .contact-list {
    width: 100%;
  }
  button {
    cursor: pointer;
  }
  .buttons {
    cursor: pointer;
  }
}
