* {
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
.brand-logo {
  margin-left: 30px;
}
/* NAVBAR */
.signedin {
  margin-right: 20px;
}

/* VIDEO Component */
.contact-video {
  display: flex;
}

img {
  height: 100px;
  width: 100px;
}

i {
  cursor: pointer;
}

.user-header {
  margin-top: -20px;
  margin-bottom: 20px;
}
.contact-list {
  margin-top: 50px;
  width: 50%;
}

.secondary-content {
  padding-left: 20px;
}

.video-hangup-wrapper {
  /* display: flex; */
  /* align-items: center;
  justify-content: space-around;
  flex-direction: column; */
}
.button-wrapper {
  text-align: center;
  /* margin-top: 500px; */
  /* display: flex; */
  /* align-items: center;
  justify-content: space-around;
  flex-direction: column; */
}

.hangup {
  width: 125px;
  height: 50px;
}

.camera-box {
  /* background-color: bisque; */
  /* margin-top: -400px; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}
.image-wrapper {
  text-align: center;
}
#hangup-button {
  display: inline-block;
}

button {
  cursor: pointer;
  margin: 10px;
}

.button {
  cursor: pointer;
}

video {
  margin: 0;
  padding: 0;
}

/* .video-wrapper {
  margin-top: 100px;
} */

/* .camera-box {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
} */

#received_video {
  /* background-color: black; */
  /* width: 450px; */
  /* height: 320px; */
}
/* width: 640px;
height: 480px; */

#local_video {
  /* background-color: black; */
  /* width: 450px; */
  /* height: 320px; */
}

.button-wrapper {
  /* margin-top: 20px;
  display: flex;
  justify-content: space-evenly; */
}

/* width: 50%; */
@media screen and (max-width: 992px) {
  .brand-logo {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1228px) {
  .brand-logo {
    margin-left: 30px;
  }
  #local_video {
    /* width: 350px; */
  }
  #received_video {
    /* width: 350px; */
  }
}
@media screen and (max-width: 826px) {
  .contact-video {
    display: flex;
    flex-direction: column;
  }
  .brand-logo {
    margin-left: 30px;
  }
  #local_video {
    width: 250px;
  }
  #received_video {
    width: 250px;
  }
}
@media screen and (max-width: 540px) {
  /* .camera-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .contact-video {
    overflow-y: auto;
    height: calc(100% - 56px) !important;
    padding-bottom: 50px;
  }
  .brand-logo {
    margin-left: 10px;
  }
  .video-wrapper {
    margin: 0 20px;
  }
  .contact-list {
    width: 100%;
  }
  #local_video {
    margin: 10px 0;
    width: 100%;
  }
  #received_video {
    margin: 10px 0;
    width: 100%;
  }
  .button-wrapper {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
  }
  /* button {
    margin-bottom: 10px;
    width: 50%;
    height: 20px;
  } */
  button {
    cursor: pointer;
  }
  .buttons {
    cursor: pointer;
  }
}

/* MESSAGES component */
.transcripts {
  /* margin: 20px; */
}
.sendMessage {
  widows: 40%;
  height: 100px;
  margin: 10px;

  background-color: pink;
  margin-left: -10px;
}
.receiveMessage {
  widows: 40%;
  height: 100px;
  margin: 10px;
  background-color: beige;
  /* margin-right: 20px; */
}
